<div id="video" *ngIf="player" fxLayout="row" fxLayoutAlign="center center">
  <div id="img-container" #imgcontainer>
    <img id="image" #img
         [src]="videoUrl + player.name"
         [ngClass]="{'failure': status == videoStatusEnum.Failure}"
         (error)="error()"
         (abort)="error()"
         (load)="loaded()">

    <div id="error" *ngIf="status == videoStatusEnum.Failure">
      An error occurred at the server.<br />
      Please check if a camera is connected!<br /><br />
      <button nz-button nzType="primary" (click)="retry()">
        Retry
      </button>
    </div>

    <div id="overlay" *ngIf="status != videoStatusEnum.Failure">
      <div id="name">Video Source</div>
      <div id="channels" fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <div *ngFor="let channel of channels"
             [ngClass]="{ 'selected': isSelected(channel) }"
             class="channel"
             fxFlex="auto"
             (click)="switchChannel(channel)">
          <h2>{{channel.name}}</h2>
          <p>{{channel.description}}</p>
        </div>
      </div>
    </div>

    <nz-spin nzSimple [nzSize]="'large'" *ngIf="status == videoStatusEnum.Loading"></nz-spin>
  </div>
</div>
