<div style="width: 100%; height: 30px;"
     [style.background]="getGradient()">
</div>

<div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
  <div fxFlex="10%">Hue</div>
  <div fxFlex="90%">
    <nz-slider nzRange
               nzMin="0"
               nzMax="360"
               [(ngModel)]="hueRange"
               [nzDisabled]="isUpdating"
               [nzMarks]="degreeMarks"
               (nzOnAfterChange)="updateColorRange()">
    </nz-slider>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
  <div fxFlex="10%">Saturation</div>
  <div fxFlex="90%">
    <nz-slider nzRange
               nzMin="0"
               nzMax="100"
               [(ngModel)]="satRange"
               [nzDisabled]="isUpdating"
               [nzMarks]="percentMarks"
               (nzOnAfterChange)="updateColorRange()">
    </nz-slider>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
  <div fxFlex="10%">Value</div>
  <div fxFlex="90%">
    <nz-slider nzRange
               nzMin="0"
               nzMax="100"
               [(ngModel)]="valRange"
               [nzDisabled]="isUpdating"
               [nzMarks]="percentMarks"
               (nzOnAfterChange)="updateColorRange()">
    </nz-slider>
  </div>
</div>
