#overview {
  margin-bottom: 3.5em;
  position: relative;

  .arrow {
    position: absolute;
    font-size: 2em;
    padding: 0.5em 0.5em;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #e8e8e8;
    }

    &.left {
      left: -2.5em;
    }

    &.right {
      right: -2.5em;
    }
  }

  #cards {
    overflow: hidden;
    box-shadow: inset 25px 0px 25px -25px rgba(0,0,0,0.1), inset -25px 0px 25px -25px rgba(0,0,0,0.1);

    .card {
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      padding: 3em 2em 1em 2em;
      flex-direction: column;

      &.selected {
        border-color: #1890ff;
        box-shadow: 0 2px 8px rgba(0,0,0,.09);
      }

      .content {
        margin-bottom: 2em;

        .icon {
          font-size: 2em;
          margin-right: .75em;
        }

        .heading {
          font-size: 1.5em;
          margin-right: 2.5em;

          .model {
            font-style: italic;
          }
        }

        .status {
          font-size: 2em;
          color: rgb(82, 196, 26);

          &.error {
            color: #ff4d4f;
          }
        }
      }

      .extra {
        font-size: .8em;
        font-style: italic;
      }
    }
  }
}
