svg {
  width: 100%;
  height: auto;

  #playingfield {
    rect {
      stroke: #adadad;
      fill: #fff;
    }

    ellipse, path {
      stroke: #adadad;
    }
  }

  #bars {
    path {
      fill: none;
      stroke: #adadad;
      stroke-width: 5;
    }

    rect {
      fill: #adadad;
      stroke: none;
    }
  }

  #players {
    rect, ellipse {
      stroke: none;
    }

    .blue {
      rect, ellipse {
        fill: #163686;
      }
    }

    .red {
      rect, ellipse {
        fill: #84251c;
      }
    }
  }

  .motor {
    .shift, .rotation {
      cursor: pointer;
    }

    .shift {
      ellipse {
        fill: #fff;
        stroke: #adadad;
      }

      &:hover, &.selected {
        path, ellipse {
          stroke: #1890ff;
        }
      }
    }

    .rotation {
      rect {
        fill: #fff;
        stroke: #adadad;
      }

      &:hover, &.selected {
        rect {
          stroke: #1890ff;
          stroke-width: 2;
        }
      }
    }
  }
}
