<div id="video" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'height': videoHeight}">
  <div id="img-container" [ngStyle]="{'height': videoHeight}">
    <img id="image" #img
         src="http://localhost:5001/api/video/{{videoSource}}"
         [ngClass]="{'failure': status == cameraStatusEnum.Failure}"
         (error)="error()"
         (abort)="error()"
         (load)="loaded()">

    <div id="error" *ngIf="status == cameraStatusEnum.Failure">
      An error occurred at the server.<br />
      Please check if a camera is connected!<br /><br />
      <button nz-button nzType="primary" (click)="retry()">
        Retry
      </button>
    </div>

    <div id="overlay" *ngIf="status != cameraStatusEnum.Failure">
      <div id="name">{{getName(videoSource)}}</div>
      <div id="channels" fxLayout="row" fxLayoutAlign="space-evenly stretch">
        <div *ngFor="let channel of (channels | async)"
             [ngClass]="{ 'selected': isSelected(channel) }"
             class="channel"
             fxFlex="auto"
             (click)="switchChannel(channel)">
          <h2>{{channel.name}}</h2>
          <p>{{channel.description}}</p>
        </div>
      </div>
    </div>

    <nz-spin nzSimple [nzSize]="'large'" *ngIf="status == cameraStatusEnum.Loading"></nz-spin>
  </div>
</div>
