<div id="video" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'height': videoHeight}">
  <div id="img-container" [ngStyle]="{'height': videoHeight}">
    <img id="image" #img
         src="http://localhost:5001/api/camera?videoSource={{videoSource}}"
         [ngClass]="{'failure': status == cameraStatusEnum.Failure}"
         (error)="error()"
         (abort)="error()"
         (load)="loaded()">

    <div id="error" *ngIf="status == cameraStatusEnum.Failure">
      An error occurred at the server.<br />
      Please check if a camera is connected!<br /><br />
      <button nz-button nzType="primary" (click)="retry()">
        Retry
      </button>
    </div>

    <nz-spin nzSimple [nzSize]="'large'" *ngIf="status == cameraStatusEnum.Loading"></nz-spin>
  </div>
</div>
