<div *ngIf="state === stateEnum.Loading" id="loading" fxLayout="column" fxLayoutAlign="center center">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  <p>Loading players..</p>
</div>

<ng-container *ngIf="state !== stateEnum.Loading">
  <div
    id="players"
    *ngIf="state === stateEnum.Ready"
    fxLayout="row wrap"
    fxLayoutAlign="space-between stretch"
    (click)="selectPlayer(undefined)"
  >
    <div
      *ngFor="let player of players"
      [ngClass]="{'player': true, 'selected': player === selectedPlayer}"
      (click)="selectPlayer(player, $event)"
      fxFlex.lt-md="100%"
      fxFlex.md="45%"
      fxFlex="30%"
      fxLayout="column"
    >

      <div class="header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5em">
        <div class="emoji">{{player.emoji}}</div>
        <div class="title" fxLayout="column">
          <div class="name">{{player.name}}</div>
          <div class="authors">{{player.authors.join(", ")}}</div>
        </div>
      </div>

      <div class="description">{{player.description}}</div>
    </div>
  </div>

</ng-container>
