<div fxLayout="row">
  <!-- NgZorro has a bug for step size 2 with odd numbers, so we cannot use 'parameter.step' -->
  <nz-slider *ngIf="parameter"
             fxFlex="100%"
             [nzMin]="parameter.min"
             [nzMax]="parameter.max"
             [(ngModel)]="num"
             [nzStep]="1"
             (nzOnAfterChange)="setParameter(num)"
             [nzDisabled]="isUpdating">
  </nz-slider>

  <nz-input-number *ngIf="parameter"
                   [nzMin]="parameter.min"
                   [nzMax]="parameter.max"
                   [(ngModel)]="num"
                   (ngModelChange)="setParameter(num)"
                   [nzDisabled]="isUpdating">
  </nz-input-number>
</div>
