<div ibmGrid>
  
  <div ibmRow id="heading" [gutter]="false">
    <div ibmCol>
      <oth-page-heading
        *ngIf="selectedMotor"
        heading="{{selectedMotor.model}}"
        subHeading="{{barToString(selectedMotor.bar)}}">
      </oth-page-heading>

      <oth-page-heading *ngIf="status === 'loading'" [skeleton]="true">
      </oth-page-heading>
    </div>
  </div>

  <div ibmRow id="motors" [gutter]="false">
    <div ibmCol>
      <ibm-tabs
        type="container"
        [cacheActive]="true"
        class="motors"
      >
        <ibm-tab
          *ngFor="let motor of motors"
          [heading]="tabTemplate"
          [context]="motor"
          (selected)="changeMotor(motor)"
        >
        </ibm-tab>
        <span before style="padding-left: 3rem"></span>
      </ibm-tabs>
    </div>

  </div>

  <div ibmRow id="content-row">
    <ng-container *ngTemplateOutlet="sidemenu"></ng-container>

    <!-- Content -->
    <div ibmCol id="content-col">
      <ng-container *ngIf="status === 'success'">
        <ng-template *ngTemplateOutlet="getInfoTemplate()"></ng-template>
      </ng-container>
      <ibm-skeleton-text
        *ngIf="status === 'loading'"
        [lines]="3"
      ></ibm-skeleton-text>
    </div>
    
  </div>
</div>

<ng-template #tabTemplate let-motor>
  <div class="motor-tab">
    {{barToString(motor.bar)}}
    <svg *ngIf="motor.function === functionEnum.Rotation" ibmIconRotate size="20"></svg>
    <svg *ngIf="motor.function === functionEnum.Shift" ibmIconArrowsVertical size="20"></svg>
  </div>
</ng-template>

<ng-template #sidemenu>
  <div class="side-menu">
    <div class="button" (click)="changeItem('info')" [ngClass]="{'selected': selectedItem === 'info'}">
      <svg
        ibmIconInformationFilled
        size="24"
      ></svg>
    </div>
    
    <div class="button" (click)="changeItem('nmt')" [ngClass]="{'selected': selectedItem === 'nmt'}">
      <svg
        ibmIconNetwork_2
        size="24"
      ></svg>
    </div>
    
    <div class="button" (click)="changeItem('operation')" [ngClass]="{'selected': selectedItem === 'operation'}">
      <svg
        ibmIconOperationsRecord
        size="24"
      ></svg>
    </div>
  </div>
</ng-template>


<!-- Motor info -->
<ng-template #info>
  <oth-motor-info [motors]="motors" [(selected)]="selectedMotor"></oth-motor-info>
</ng-template>

<!-- NMT State -->
<ng-template #nmt>
  <oth-nmt-state [nmtState]="selectedMotor.nmtState"></oth-nmt-state>
</ng-template>

<!-- Operation -->
<ng-template #operation>
  <oth-operation [motor]="selectedMotor"></oth-operation>
</ng-template>
