<div *ngIf="loaded">
  <div *ngFor="let setting of settings; index as i" class="settings" fxLayout="column">
    <div class="heading"
         fxLayout="row"
         fxLayoutAlign="space-between center"
         (click)="toggleExpansion(i)"
    >
      <h2>{{setting.name}}</h2>
      <h2>
        <i nz-icon nzType="down" nzTheme="outline" [ngClass]="{'collapsed': !isExpanded[i]}"></i>
      </h2>
    </div>

    <div fxLayout="row wrap"
         fxLayoutAlign="space-between"
         [ngClass]="{'params': true, 'collapsed': !isExpanded[i]}"
    >
      <div *ngFor="let param of setting.parameters"
           fxFlex="45%"
           fxFlex.lt-lg="100%"
           fxLayout="column"
           class="param">
        <h3>{{param.name}}</h3>

        <p fxFlex="1 1 100%">{{param.description}}</p>

        <ng-container
          *ngTemplateOutlet="getParamTemplate(param); context: {$implicit: {param: param, settings: setting.name}}">
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #numberTmpl let-ctx>
  <app-number-param [param]="ctx.param" [settings]="ctx.settings"></app-number-param>
</ng-template>

<ng-template #colorRangeTmpl let-ctx>
  <app-color-range-param [param]="ctx.param" [settings]="ctx.settings"></app-color-range-param>
</ng-template>

<ng-template #booleanTmpl let-ctx>
  <app-boolean-param [param]="ctx.param" [settings]="ctx.settings"></app-boolean-param>
</ng-template>

<ng-template #enumTmpl let-ctx>
  <app-enum-param [param]="ctx.param" [settings]="ctx.settings"></app-enum-param>
</ng-template>
