<!-- Cards Slider-->
  <div id="cards-slider" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" (wheel)="mouseScroll($event)">

    <!-- Left arrow -->
    <div class="arrow" (click)="scrollLeft()">
      <i nz-icon nzType="left" nzTheme="outline"></i>
    </div>

    <!-- Cards -->
    <div id="cards" #cards fxFlexLayout="row" fxLayoutGap="1em">
      <nz-card #motorcard fxFlex="1 1" *ngFor="let diag of (diagnostics | async)">
        <nz-card-meta *ngIf="diag.function === 'Rotation'"
                      [nzTitle]="diag.modell"
                      nzDescription="This is the description"
                      [nzAvatar]="iconRotation">
        </nz-card-meta>

        <nz-card-meta *ngIf="diag.function === 'Shift'"
                      [nzTitle]="diag.modell"
                      nzDescription="This is the description"
                      [nzAvatar]="iconShift">
        </nz-card-meta>

        <p>Some content within the card. Status of the motor and so on.</p>
      </nz-card>
    </div>

    <!-- Right Arrow -->
    <div class="arrow" (click)="scrollRight()">
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </div>
  </div>

<ng-template #iconRotation>
  <i nz-icon nzType="reload"></i>
</ng-template>

<ng-template #iconShift>
  <i nz-icon nzType="arrows-alt" style="transform: rotate(-45deg)"></i>
</ng-template>
