<ng-container *ngIf="!loading">
  <app-motor-list [motors]="motors" [(selected)]="selectedMotor"></app-motor-list>

  <div class="motor-information" fxLayout="row" fxLayoutGap="3em">
    <div class="left" fxFlex="20%">
      <app-info-table [motor]="selectedMotor" (onChange)="changeItem($event)"></app-info-table>
    </div>

    <div class="right" fxFlex="80%">
      <ng-container *ngTemplateOutlet="getInfoTemplate(selectedItem); context: selectedMotor"></ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div id="loading" fxLayout="column" fxLayoutAlign="center center">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    <p>Loading motor diagnostics...</p>
  </div>
</ng-container>

<!-- Kickermat (Bar)-->
<ng-template #bar>
  <app-kickermat [motors]="motors" [(selected)]="selectedMotor"></app-kickermat>
</ng-template>

<!-- CanId -->
<ng-template #canId>
  <h2>CAN Identifier</h2>
  <p>On the CAN bus each node has a unique identifier ranging from 0 to 127 that serves as an address.</p>
  <p>
    The CAN ID for the <i>{{selectedMotor.model}}</i> motor on the {{barToString(selectedMotor.bar)}} bar is: <nz-tag>{{selectedMotor.canId}}</nz-tag>
  </p>
</ng-template>

<!-- NMT State -->
<ng-template #nmtState>
  <app-nmt-state [nmtState]="selectedMotor.nmtState"></app-nmt-state>
</ng-template>

<!-- Operating Mode -->
<ng-template #operatingMode>
  <app-operating-mode [motor]="selectedMotor"></app-operating-mode>
</ng-template>

<!-- Operating State -->
<ng-template #operatingState>
  <app-operating-state [motor]="selectedMotor"></app-operating-state>
</ng-template>

<!-- Error -->
<ng-template #error>
  <h2>Error</h2>
</ng-template>
