#cards-slider {
  .arrow {
    font-size: 2em;
    display: flex;
    align-items: center;
    transition: 0.05s;
    cursor: pointer;

    i {
        border-radius: 50%;
        padding: 5px;
    }

    &:hover i {
      background: rgba(0, 0, 0, 0.05);
      transition: 0.05s;
    }
  }

  #cards {
    overflow: hidden;

    nz-card-meta {
        width: max-content;
    }
  }
}
