<h1>Motors</h1>

<h3>Here you can check the health state of the motors.</h3>

<nz-divider></nz-divider>

<app-motor-overview (onChange)="changeMotor($event)"></app-motor-overview>

<div id="content">
  <h2>Information</h2>
</div>
<div class="motor-information" fxLayout="row" fxLayoutGap="3em" *ngIf="selectedMotor">
  <div class="left" fxFlex="30%">
    <app-info-table [motor]="selectedMotor" (onChange)="changeItem($event)"></app-info-table>
  </div>

  <div class="right" fxFlex="70%">
    <ng-container *ngTemplateOutlet="getInfoTemplate(selectedItem); context: selectedMotor"></ng-container>
  </div>
</div>

<ng-template #bar>
  <app-kickermat></app-kickermat>
</ng-template>

<ng-template #canOpenId>
  <h3>CAN Identifier</h3>
  <p>On the CAN bus each node has a unique identifier ranging from 0 to 127 that serves as an address.</p>
  <p>
    The CAN ID for the <i>{{selectedMotor.model}}</i> motor on the <i>{{selectedMotor.bar}}</i> bar is <span style="font-weight: bold">{{selectedMotor.canOpenId}}</span>.
  </p>
</ng-template>
<ng-template #nmtState>
  <app-nmt-state [nmtState]="selectedMotor.nmtState"></app-nmt-state>
</ng-template>
<ng-template #operatingMode>
  Operating Mode
</ng-template>
<ng-template #operatingState>
  <app-operating-state></app-operating-state>
</ng-template>
<ng-template #error>
  Error
</ng-template>
