<div *ngIf="parameter" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
  <h3>{{parameter.name}}</h3>
  <button nz-button nz-tooltip nzShape="circle" nzType="default" nzTooltipTitle="{{parameter.description}}" nzTooltipPlacement="right">
    <i nz-icon nzType="question" nzTheme="outline"></i>
  </button>
</div>

<ng-container *ngIf="isNumberParameter(parameter)">
  <div fxLayout="row">
    <nz-slider fxFlex="100%"
      [nzMin]="parameter.min"
      [nzMax]="parameter.max"
      [(ngModel)]="value"
      [nzStep]="parameter.step"
      (nzOnAfterChange)="setParameter()"
      [nzDisabled]="isUpdating">
    </nz-slider>

    <nz-input-number
      [nzMin]="parameter.min"
      [nzMax]="parameter.max"
      [(ngModel)]="value"
      (ngModelChange)="setParameter()"
      [nzDisabled]="isUpdating">
    </nz-input-number>
  </div>
</ng-container>

