<h3>{{parameter.name}}</h3>

<p class="description">{{parameter.description}}</p>

<ng-container *ngIf="isNumberParameter(parameter)">
  <div fxLayout="row">
    <nz-slider fxFlex="100%"
      [nzMin]="parameter.min"
      [nzMax]="parameter.max"
      [(ngModel)]="value"
      [nzStep]="parameter.step"
      (nzOnAfterChange)="setParameter()"
      [nzDisabled]="isUpdating">
    </nz-slider>

    <nz-input-number
      [nzMin]="parameter.min"
      [nzMax]="parameter.max"
      [(ngModel)]="value"
      (ngModelChange)="setParameter()"
      [nzDisabled]="isUpdating">
    </nz-input-number>
  </div>
</ng-container>

