<h1>Calibration</h1>
<h3>To find the best settings for the camera it has to be calibrated. To do this print out this <a href="assets/img/calibration_pattern.png" target="_blank">calibration pattern</a>, press the start button and slowly move and tilt the pattern above the foosball table until the calibration is completed.</h3>

<nz-divider></nz-divider>

<div id="details" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="3.5em" fxLayoutGap.lt-md="1em">
  <div fxFlex="100%">
    <h2>Distortion Correction</h2>

    <p>As the camera in use is not perfectly aligned with the foosball table an effect called distortion appears in two kinds both radial and tangential. This can be equalled out by calculating lense-specific distortion constants that are used to undistort the image. Details can be found <a href="https://docs.opencv.org/2.4/doc/tutorials/calib3d/camera_calibration/camera_calibration.html" target="_blank">here</a>.</p>
  </div>
  <div fxFlex="100%">
    <h2>White Balance</h2>

    <p>To obtain a realistically colored image from the camera the correct color temperature depending on the lighting situation has to be figured out. Therefore it suffices to detect a white area on the image and based on this compute the white balance coefficients.</p>
  </div>
  <div fxFlex="100%">
    <h2>World Coordinates</h2>

    <p>To obtain the ability to write camera independent game controllers and motor commands it is essential to convert from a pixel-based to a real world coordinate system. During calibration the size of a pixel in metric units is computed.</p>
  </div>
</div>

TODO: Camera Calibration

<div fxLayout="row" fxLayoutAlign="center">
  <nz-progress *ngIf="calibrationRunning" [nzPercent]="progress" nzType="circle">
  </nz-progress>

  <button *ngIf="!calibrationRunning" nz-button nzType="primary"
          (click)="startCalibration()">
    Start calibration
  </button>
</div>
