<ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus, parentPath: '' }"></ng-container>
  <ng-template #menuTpl let-menus let-parentPath="parentPath">
    <ng-container *ngFor="let menu of menus">
      <li nz-menu-item
          [nzPaddingLeft]="menu.level * 24"
          *ngIf="!menu.children"
          [nzDisabled]="menu.disabled"
          [nzSelected]="menu.selected"
          nzMatchRouterExact
          routerLink="{{parentPath + '/' + menu.path}}">
        <span title>
          <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
          <i nz-icon *ngIf="menu.svgIcon">
            <img [src]="menu.svgIcon">
          </i>
          <span>{{ menu.title }}</span>
        </span>
      </li>
      <li nz-submenu
          [nzPaddingLeft]="menu.level * 24"
          *ngIf="menu.children"
          [nzOpen]="menu.open"
          [nzDisabled]="menu.disabled"
          nzMatchRouterExact>
        <span title>
          <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
          <span routerLink="{{parentPath + '/' + menu.path}}">{{ menu.title }}</span>
        </span>
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children, parentPath: parentPath + '/' + menu.path }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>

<button id="collapse-button" nz-button [nzType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;">
  <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
</button>
